<div class="row">
	<div class="note-content col-sm-8" contenteditable="true">{{{title}}}</div>
	<!-- <div class="note-content">{{{subtitle}}}</div> -->
	<span class="leaves hidden-xs col-sm-4">
		<span class="icon-leaves-tag" title="Tag"></span>
		<span class="icon-leaves-share" title="Share"></span>
		<span class="icon-leaves-attach" title="Attach"></span>
 		<span class="icon-leaves-export" title="Export"></span>
			{{!-- <input type="filepicker" name="myName"/> --}}
		<span class="icon-leaves-emoticon" title="Emoticons"></span>
		<span class="icon-leaves-delete" title="Delete"></span>
	</span>
</div>

{{!-- 			<input type="filepicker" class="btn btn-info" data-fp-apikey="AIEVEYpUyS9Srvu5qwlnJz" data-fp-mimetypes="*/*" data-fp-container="modal" data-fp-multiple="true" data-fp-maxsize="10000000" data-fp-services="COMPUTER,DROPBOX,FACEBOOK,GOOGLE_DRIVE,BOX,EVERNOTE,GITHUB,WEBCAM" onchange="out='';for(var i=0;i<event.fpfiles.length;i++){out+=event.fpfiles[i].url;out+=' '};alert(out)">
 --}}


{{!-- 			<input type="filepicker" class="crown-attach hidden"
				data-fp-apikey="AIEVEYpUyS9Srvu5qwlnJz"
				data-fp-class="filepicker"
				data-fp-mimetypes="*/*"
				data-fp-container="modal"
				data-fp-multiple="false"
				data-fp-maxsize="10000000"
				data-fp-services="COMPUTER,DROPBOX"
				onchange="console.log(event.fpfiles);">
 --}}
