<div class="row">
	<div class="note-content col-sm-8" contenteditable="true">{{{title}}}</div>
	<!-- <div class="note-content">{{{subtitle}}}</div> -->
	<div id="leaf-region"></div>
</div>

<div id="display-region" class="hidden">
	{{!-- <span class="glyphicon glyphicon-chevron-down"></span> --}}
</div>