<span class="leaf icon-leaves-tag" title="Tag"></span>
	<span class="crown-tag" style="display: none;">{{emoticon}}</span>
<span class="leaf icon-leaves-share" title="Share"></span>
<span class="leaf icon-leaves-attach" title="Attach"></span>
	<span class="crown-attach" style="display: none;">
	<span class="attach-drop">Drop file here -or-</span>
	<button type="button" class="btn-xs attach-btn">Pick File</button>
	</span>
<span class="leaf icon-leaves-export" title="Export"></span>
<span class="leaf icon-leaves-emoticon" title="Emoticon"></span>
	<span class="crown-emoticon" style="display: none;">
		<span class="glyphicon glyphicon-heart"></span>
	</span>
<span class="icon-leaves-delete" title="Delete"></span>