<div data-guid="{{guid}}" class="branch mindmap">
	{{!-- <div class="dropTarget dropBefore"></div> --}}
	<div class="note-content" contenteditable>{{{title}}}</div>
	<div class="descendants"></div>
	{{!-- <div class="dropTarget dropAfter"></div> --}}
</div>