@import "../variables";

// ----------------------------------------------------
// ----------------MOBILE FIRST CSS -------------------
// ----------------------------------------------------

#leaf-region {
	display: inline;
}

.bullet {
}

// ----------------------------------------------------
// ---------------TABLET MEDIA QUERIES ----------------
// ----------------------------------------------------
@media (min-width: $screen-sm) {
	#leaf-region {
		#leaves {
			font-size: 23px;
			padding-left: 0;
			margin-top: -4px;
			line-height: 20px;
			&.grow {
				width: 54%;
				display: inline-block;
			}
			span {
				cursor: pointer;
				&.icon-leaves-tag { padding-right: 2px; }
				&.icon-leaves-emoticon { padding-right: 2px; }
				&.icon-leaves-delete {
					border-left: 2px solid $gray;
					padding-left: 9px;
					padding-right: 0;
				}
				&:hover { color: $notableYellow; }
				&:active { color: $notableOrange; }
				&.selected { color: $notableBlue; }
			}
			.crown-attach {
				border: 2px solid $grayLight;
				border-top-right-radius: 12px;
				border-bottom-right-radius: 12px;
				padding: 0 4px 4px 0;
				border-left: none;
				.attach-drop {
					border: 1px dashed $gray;
					margin: 0 0 0 1px;
					border-radius: 3px;
					background-color: rgb(243, 243, 243);
					color: rgb(51, 51, 51);
					font-size: 12px;
					padding: 4px 5px;
					vertical-align: middle;
					&.over { border: 1px solid $grayDark; }
				}
				.attach-btn {
					color: $white;
					background-color: $notableOrange;
					border: none;
					border-radius: 3px;
					padding: 3px 6px;
					vertical-align: middle;
					cursor: default;
					// position: relative;
					// bottom: 2px;
				}
			}
		}
	}

	.bullet {
	}

}

// ----------------------------------------------------
// --------------LAPTOP MEDIA QUERIES -----------------
// ----------------------------------------------------
@media (min-width: $screen-md) {
	#leaf-region {
		#leaves {
			font-size: 27px;
			text-align: right;
			padding-right: 12px;
			span {
				padding: 1px;
				&.icon-leaves-tag { padding-right: 3px; }
			}

		}
	}

	.bullet {
	}

	.typeahead {
		position: relative;
		.tt-dropdown-menu {
      position: absolute;
      top: 100%;
      // left: 0;
      z-index: 27;
      display: none;
			.tt-suggestions {
        display: block;
				background-color: $white;
				border: 1px solid $grayLight;
				padding: 4% 4% 0 4%;
				margin-left: 0.8em;
				border-top: none;
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
				.tt-suggestion {
					cursor: pointer;
					padding: 3%;
          white-space: nowrap;
					p { margin: 0 1em 0.3em 0; }
					&.tt-cursor {
						background-color: $notableBlue;
						color: $white;
					}
				}
			}
		}
		.tt-hint {
			color: $gray;
			position: absolute;
			left: 0;
			margin-left: 1.4em;
		}
		.tt-input {
			position: relative;
			vertical-align: top;
			background-color: transparent;
		}
	}

	.typehound {
		color: transparent;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
		font-size: 14px;
		letter-spacing: -0.3px;
		&.root { font-size: 1.05em; }
	}


}

// ----------------------------------------------------
// ---------------DESKTOP MEDIA QUERIES ---------------
// ----------------------------------------------------
@media (min-width: $screen-lg) {
}
