<ul id="links">
	<li><a href="about">About</a></li>
	<li><a href="help">Help</a></li>
	<li><a href="privacy">Privacy</a></li>
	<li><a href="terms">Terms</a></li>
	<li><a href="contact">Contact</a></li>
</ul>
<ul id="shortcuts" class="visible-md navbar-fixed-bottom">
	<li><b>Move:</b> Alt+Arrows</li>
	<li><b>Indent:</b> Tab/Shift+Tab</li>
	<li><b>Delete:</b> Ctrl+Shift+Delete</li>
	<li><b>Expand:</b> Ctrl+↑/↓</li>
	<li><b>Zoom:</b> Ctrl+Alt+←/→</li>
	<span class="close-shortcuts glyphicon glyphicon-remove-circle"></span>
</ul>
<ul id="shortcuts" class="visible-lg navbar-fixed-bottom">
	<li><b>Move Notes:</b> Alt+↑/↓/←/→</li>
	<li><b>Indent/Outdent:</b> Tab/Shift+Tab</li>
	<li><b>Delete Note:</b> Ctrl+Shift+Delete</li>
	<li><b>Expand/Collapse:</b> Ctrl+↑/↓</li>
	<li><b>Zoom In/Out:</b> Ctrl+Alt+←/→</li>
	<span class="close-shortcuts glyphicon glyphicon-remove-circle"></span>
</ul>


