<div class="landing">
	<div id="logo"></div>
	<div class="visible-xs visible-sm couplet">
		<h1 class="tagline">Learn Faster.</h1>
		<h1 class="tagline">Understand More.</h1>
	</div>
	<div class="visible-md visible-lg">
		<h1 class="tagline">Learn Faster. Understand More.</h1>
	</div>

	<p class="pitch">Notable is a note-taking app for learning more efficiently and effectively. It allows users to easily organize and play with their ideas, leading to more connections, deeper understanding, and that moment when everything just makes sense.</p>

	<div class="message">
		Notable is now in public beta. Sign up today!
	</div>


<div id="mc_embed_signup">
	<%= form_tag(new_user_registration_path, method: "get") do %>
		<div class="mc-field-group"><%= text_field_tag(:email, nil,
			placeholder: "Enter your email address", class: "email") %></div>
		<%= submit_tag("Submit", class: "submit btn clear") %>
	<% end %>
</div>

<%= render 'scaffold/footer_out' %>
</div>